{% extends "quotes/base.html" %}

{% block content %}

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div>
        <label> Username:
            {{ form.username }}
        </label>
    </div>

    <div>
        <label>Password:
            {{ form.password }}
        </label>
    </div>

    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>

    <div class="grid">
        <a href="{% url 'users:password_reset' %}">Forgot password</a>
    </div>
</form>

{% endblock %}