<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quotes to Scrape</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static '/main.css'%}">
        <title>Homework 10. Django site.</title>
    </head>
<body>
<main class="container">
    <div class="row header-box">
        <div class="col-md-8">
            <h1>
                <a href="/" style="text-decoration: none">Quotes to Scrape</a>
            </h1>
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}
            <ul>
                <li>Welcome <b>{{ user.username }}!</b></li>
                <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% block content %} {% endblock %}
    
</main>
</body>
</html>